.challenge-section-container {
    min-height: 90vh;
    flex-direction: column;
    align-items: center;

}

.challenge-section-header {
    text-align: center;
    color:#f1eca3;
    font-family: 'Bangers', cursive;
    word-spacing: 3px;
    font-size: 40px;
    letter-spacing: 3px;
}